<h1>Enter an amount and we'll tell you the minimum amount of coins required.</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="amount">Enter an amount</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Show me the amount!</button>
</form>
